
@import 'bourbon/bourbon';

// super light grey
$color1: #e5e5e5;
// light blueish
$color2: #4183c4;
// light grey
$color3: #999999;
// dark grey
$color4: #666666;

@mixin repor{
  color: $color4;
  font-size: 12px;
  font-weight: bold;
}

@mixin csize {
  width: 80px;
  height: 85px;
  border: 1px solid red;
  float: left;
}

header {
  width: 100%;
  height: 45px;
  background-color: $color1;
  #hcontainer{
    width: 1000px;
    margin: 0 auto;
    #headerleft{
      height: 45px;
      width: 700px;
      border: 1px solid red;
      float: left;
      .cmd-form {
        margin-left: 12px;
        margin-top: 2px;
      }
      .octicon-mark-github {
        font-size: 28px;
        margin-top: 6px;
        float: left;
      }
      #notificationbox {
        width: 45px;
        height: 45px;
        border: 1px solid red;
        float: left;
        margin-left: 15px;
        .octicon-primitive-dot {
          margin-left: 18px;
          margin-top: 13px;
        }
      }
    }
    #headerright{
      height: 45px;
      width: 296px;
      border: 1px solid red;
      float: right;
    } 
  }
}
#bodycontainer {
  margin: 0 auto;
  height:1300px;
  width: 1000px;
  border: 1px solid black;
  #columnone {
    float: left;
    width: 250px;
    height: 500px;
    // border: 1px solid black;
    .avatar {
      width: 230px;
      height: 230px;
      border-radius: 6px;
    }
    #profilename {
      font-size: 30px;
      font-weight: bolder;
    }
    #username {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 15px;
    }
    #vcarddetails{
      width: 215px;
      height: 20px;
      font-size: 13px;
      border-top: 1px solid $color1;
      border-bottom: 1px solid $color1;
      padding: 15px;
      .octicon {
        color: $color1;
      }
    }
    #vcardstats {
      // width: 215px;
      border: 1px solid red;
      height: 90px;
      
      .statscontainer {
        @include csize;
        .followers {
          text-decoration: none;
          .topstats {
            font-size: 28px;
            text-align: center;
          }
          .bottomstats {
              font-size: 11px;
              text-align: center;
          }
        }
      }
      .statscontainertwo {
        // float: left;
        @include csize;
        .stars {
          text-decoration: none;
          .topstats {
            font-size: 28px;
            text-align: center;
          }
          .bottomstats {
              font-size: 11px;
              text-align: center;
          }
        }
      }
      .statscontainerthree {
        // float: left;
        @include csize;
        .following {
          text-decoration: none;
          .topstats {
            font-size: 28px;
            text-align: center;
          }
          .bottomstats {
              font-size: 11px;
              text-align: center;
          }
        }
      }
    }

  }
  #columntwo {
    float: right;
    width: 740px;
    height: 900px;
    #spacer {
      width: 740px;
      height: 20px;
    }
    #navcontainer {
      height: 45px;
      width: 740px;
      border: 1px solid black;
      #contributions {
        width: 130px;
        height: 25px;
        border: 1px solid red;
        float: left;
        padding: 10px;
        }
      }
      #repositories {
        width: 120px;
        height: 25px;
        text-decoration: none;
        border: 1px solid red;
        float: left;
        padding: 10px;
      }
      #public {
        width: 130px;
        height: 25px;
        text-decoration: none;
        border: 1px solid red;
        float: left;
        padding: 10px;
      }
      .repotop {
          text-decoration: none;
          color: #666;
          font-size: 14px;
      }
      #edit {
        height: 14px;
        width: 88px;
        float: right;
        @include button(#eeeeee);
        font-size: 13px;
        border: 1px solid #d5d5d5;
        margin-top: 6px;
      }
    }
    #midcontainer {
      width: 740px;
      height: 50px;
      border: 1px solid red;
      font-size: 13px;
      #newbutton{
        float: right;
        height: 20px;
        width: 42px;
        @include button(#60b044);
        margin-top: 5px;
      }
      #rfcontainer{
        float: right;
        height: 50px;
        width: 350px;
        border: 1px solid red;
        li {
          list-style: none;
          display: inline;
          .filterers {
            color: #4183c4;
            text-decoration: none;
            font-size: 15px;
            padding: 3px;
          }
          .filterers:hover{
            text-decoration: underline;
          }
        }
      }
      #searchbutton {
        float: right;
        height: 20px;
        width: 40px;
        @include button(#eeeeee);
        color: black;
        margin-top: 5px;
      }
      .search-bar {
        // $search-bar-border-color: $base-border-color;
        // $search-bar-border: 1px solid $search-bar-border-color;
        // $search-bar-background: lighten($search-bar-border-color, 10);
        position: relative; 
        display: inline-block;
        input {
          @include box-sizing(border-box);
          display: block;
        }
        div.search-and-submit {
          position: relative;
          margin-top: 4px;
          input[type=search] {
            @include appearance(none);
            width: 230px;
            height: 40px;
            padding: .5em .8em;
            font-size: .9em;
            font-style: italic;
            margin: 0;
          }
        } 
      }
    }    
    .results {
      height: 100px;
      width: 795;
      border-top: 1px solid $color1;
      .octicon-repo {
        color: #bbb;
        float: left;
        margin-top: 15px;
        margin-left: 10px;
      }
      #repoleft {
        float:left;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
      }
      .repolinks {
        text-decoration: none;
        color: $color2;
        font-size: 20px;
        font-weight: bold;
      }
      .repolinks:hover{
        text-decoration: underline;
      }
      #repoupdate {
        color: $color3;
        font-size: 11px;
        margin-top: 5px;
      }
      .reporight {
        float: right;
        margin-top: 25px;
        #repolang {
          @include repor;
        }
        .octicon-star {
          @include repor;
          margin-left: 10px;
        }
        #repostar {
          @include repor;
        }
        .octicon-git-branch {
          @include repor;
          margin-left: 10px;
        }
        #repofork {
          @include repor;
          margin-right: 5px;
        }
      }
    }
    #repoline {
      width: 740px;
      clear: both;
      color: $color1;
    }  
  }
  footer {
    width: 100%;
    height: 100px;
    background-color: $color1;
  }
// }
