
@import 'bourbon/bourbon';

// super light grey
$color1: #e5e5e5;
// light blueish
$color2: #4183c4;
// light grey
$color3: #999999;
// dark grey
$color4: #666666;

@mixin repor{
  color: $color4;
  font-size: 12px;
  font-weight: bold;
}

@mixin csize {
  width: 10px;
  height: 10px:
  background-color: blue;
}

header {
  width: 100%;
  height: 50px;
  background-color: $color1;
  #hcontainer{
    width: 1000px;
    margin: 0 auto;
  }
}

#bodycontainer {
  margin: 0 auto;
  height: 900px;
  width: 1000px;
  border: 1px solid black;
  #columnone {
    float: left;
    width: 250px;
    height: 500px;
    // border: 1px solid black;
    .avatar {
      width: 230px;
      height: 230px;
      border-radius: 6px;
    }
    #profilename {
      font-size: 30px;
      font-weight: bolder;
    }
    #username {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 15px;
    }
    #vcarddetails{
      width: 215px;
      height: 20px;
      font-size: 13px;
      border-top: 1px solid $color1;
      border-bottom: 1px solid $color1;
      padding: 15px;
      .octicon {
        color: $color1;
      }
    }
    #vcardstats {
      width: 215px;
      height: 60px;
      border-bottom: 1px solid $color1;
      .statscontainer {
        float: left;
        @include csize;
      }
      .statscontainertwo {
        float: left;
        @include csize;
      }
      .statscontainerthree {
        float: left;
        @include csize;
      }
    }

  }
  #columntwo {
    float: right;
    width: 740px;
    height: 800px;
    border: 1px solid black;
    .results {
      // height: 100px;
      // width: 795;
      // border-top: 1px solid $color1
      .octicon-repo {
        color: #bbb;
        float: left;
        margin-top: 15px;
        margin-left: 10px;
      }
      #repoleft {
        float:left;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
      }
      .repolinks {
        text-decoration: none;
        color: $color2;
        font-size: 20px;
        font-weight: bold;
      }
      .repolinks:hover{
        text-decoration: underline;
      }

      #repoupdate {
        color: $color3;
        font-size: 11px;
        margin-top: 5px;
      }
      .reporight {
        float: right;
        margin-top: 25px;
        #repolang {
          @include repor;
        }
        .octicon-star {
          @include repor;
          margin-left: 10px;
        }
        #repostar {
          @include repor;
        }
        .octicon-git-branch {
          @include repor;
          margin-left: 10px;
        }
        #repofork {
          @include repor;
          margin-right: 5px;
        }
        
      }
    }
    #repoline {
      width: 740px;
      clear: both;
      color: $color1;
    }
  }
}

footer {
  width: 100%;
  height: 100px;
  background-color: $color1;
}